body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 555px;
    background: url('./image/banner.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about,
.sign-in {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 7px 10px;
    text-transform: uppercase;
}

.sign-in {
    margin-right: 60px;
    margin-left: 20px;
    border: 1px solid rgb(56, 223, 56);
    border-radius: 20px;
}

.logo {
    background: url("./image/hapoERP.png") center center no-repeat;
    height: 100px;
    margin-top: 40px;
}

.text {
    text-align: center;
    margin-top: 30px;
}

.btn-start-now {
    text-align: center;
    margin-top: 10px;
}


button {
    text-transform: uppercase;
    color:green;
    font-size: 20px;    
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 20px;
    cursor: pointer;
}


.left,
.center,
.right {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    display: block;
    font-size: 20px;
}

img {
    width: 30px;
    height: 30px;
}